.explor__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  max-width: 15rem;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition-duration: 0.2s;
  }
}

.filter__btn {
  padding: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  @include backgroundcolor;
}

ol {
  list-style: none;
  counter-reset: item;
  padding-inline-start: none;
  margin-block-start: none;
  margin-block-end: none;
}

li {
  counter-increment: item;
  text-align: center;
  align-items: center;
  justify-content: center;
  &::before {
    content: counter(item);
    background: #9356dc;
    border-radius: 100%;
    color: white;
    padding: 0.3rem;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 3rem;
  }
  &:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    background: #f0e4ff;
    & i {
      color: #9356dc;
    }
  }
}



.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}

.card__img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
