.explor__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  @include backgroundgradient;
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  max-width: 15rem;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition-duration: 0.7s;
  }
}

.filter__btn {
  padding: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  @include backgroundcolor;
  &.fas i {
    padding: 0.5rem;
  }
}

.filter__list {
  margin-left: -2rem;
  padding-bottom: 2rem;
}

ol {
  list-style: none;
  counter-reset: item;
  justify-content: center;
  margin-left: -5rem;
}

li {
  counter-increment: item;
  text-align: center;
  align-items: center;
  justify-content: center;

  &::before {
    content: counter(item);
    @include backgroundgradient;
    border-radius: 100%;
    color: white;
    padding: 0.3rem;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 1rem;

    @media (min-width: 900px) {
      position: inherit;
    }
  }
  &:hover {
    cursor: pointer;
    transition-duration: 0.9s;
    background: #f0e4ff;
    & i {
      color: #9356dc;
      transition-duration: 0.9s;
    }
  }
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}

.card__img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

.restau__card {
  box-shadow: 0 0 8px #c2c1c12e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 13rem;
  flex-basis: 25%;
  transition-duration: 0.7s;
  max-width: 100rem;
  &:hover {
    transform: scale(1.02);
  }
  &--img img {
    border-radius: 1rem 1rem 0 0;
    height: 12rem;
    object-fit: cover;
    width: 100%;
  }
}

.card__text {
  display: flex;
  padding: 0.9rem;

  &--title {
    flex-basis: 90%;
  }
  &--heart {
    flex-basis: 10%;
    padding: 0.3rem 1rem;
    transition-duration: 0.9s;

    & .full {
      display: none;
      font-size: 30px;
      transition-duration: 0.9s;
    }
    & .empty {
      font-size: 30px;
    }
    &:hover {
      transition-duration: 0.9s;
      cursor: pointer;
      & .full {
        display: inherit;

        background: linear-gradient(
          to bottom,
          rgba(255, 121, 218, 0.9),
          rgba(147, 86, 220, 0.9)
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      & .empty {
        display: none;
      }
    }
  }
}

.item {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 30%);
  overflow: hidden;
  cursor: pointer;
  animation: menuanim 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.9);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;

  &:hover {
    & .text__area--side {
      transform: translateX(-100%);
    }
    & .text__area--check i {
      transform: rotate(-0deg);
      transition-duration: 0.6s;
    }
  }
}

.slot {
  &--1 {
    animation-delay: 0.1s;
  }
  &--2 {
    animation-delay: 0.2s;
  }
  &--3 {
    animation-delay: 0.3s;
  }
  &--4 {
    animation-delay: 0.4s;
  }
  &--5 {
    animation-delay: 0.5s;
  }
  &--6 {
    animation-delay: 0.6s;
  }
  &--7 {
    animation-delay: 0.7s;
  }
  &--8 {
    animation-delay: 0.8s;
  }
  &--9 {
    animation-delay: 0.9s;
  }
}
.text__area {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &--side {
    display: flex;
    padding-top: 0.6rem;
    transition: transform 300ms;
  }
  &--checkzone {
    background-color: #99e2d0;
    margin: -1.6rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
  }
  &--check {
    color: #99e2d0;
    background-color: white;
    border-radius: 100%;

    & i {
      padding: 0.2rem;
      transform: rotate(180deg);
      transition-duration: 0.3s;
    }
  }
  &--price {
    padding: 0rem 1rem;
    background-color: white;
    margin: -1.5rem -1rem -1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
