@mixin boxshadow {
  box-shadow: 0 0 10px #2d3035;
  position: relative;
}

@mixin backgroundcolor($color: $lightgrey) {
  background-color: $color;
}

@mixin backgroundgradient {
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
}

@keyframes menuanim {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes loaderfade {
    100% {
      opacity: 0;
      z-index: -100;
    }
  }
  
  @keyframes circle {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0%;
    }
  }

  @keyframes shadow {
    0% {
      transform: scaleX(1.5);
    }
    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }
    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }